.btn{
    border-style: none;
    cursor: pointer;
    width: 100px;
    background-color: none;
    margin: 10px;
}
.btn:hover{
color: rgb(10, 236, 10);
box-shadow: 5px 5px 22px green;
}
.App{
    width: 1200px;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btns-group{
    display: flex;
    justify-content: center;
}